/*center the buttons to the center of the browser*/
.center-alphabet {
	text-align: center;
}

.move-bot {
	top: 150px;
}

.move-above {
	top: 135px;
}

.move-losetext {
	position: absolute;
	top: 50px;
	left: 41%;
	font-size: 50px;
}

#winorlose {
	position: relative;
}

#miss-counter {
	position: relative;
}

.misses {
	font-size: 20px;
}

#hanging-man {
	padding-left: 35%;
}