/*my favorite google font..*/
body
{
   font-family: "Roboto" !important;
}

.card-container.card {
    max-width: 400px;
    padding: 40px 40px 10px;
}

/*login form thing, keep the damn thing centered w right amount of padding/margin*/
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 120px;
    /*hopefully im covering all my bases here lmao*/
    border-radius: 2px;
}

/*center the img*/
.logo-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}


/* fuck css */
.navbar-light .navbar-brand, .navbar-light .navbar-toggler .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.open, 
.navbar-light .navbar-nav .open>.nav-link {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #006341;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00452D;
}

.bg-faded {
    background-color: #006341;
}

/*consistency with the text boxes for signing in*/
.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

/*proper data types for the fields. */
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],

.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
}

.fpw {
    font-size: 75%;
}

.sign-in-text {
    padding-left: 29%;
}

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    position: fixed;
    left: 250px; 
    width: 0;
    height: 100%;
    margin-left: -250px;
    background-color:#000000 !Important;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left:-250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 5%;
    right: 15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #312A25;
}

.navbar-nav {
    padding-left: 4%;
}

.navbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 50px
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 25px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*media query for mobile responsiveness... not putting a big focus here*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px; 
    }

    #wrapper.toggled span {
        visibility:hidden;   
    }

    #wrapper.toggled   i {
         float:right;
    } 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*media query for content and window resizing*/

@media(max-width:414px) {

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right:60px;
    }

    #wrapper.toggled {
        padding-right: 60px;
    }

    #wrapper {
        padding-left: 20px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 140px;     
    }
.
}

.table {
    width: 95%;
}

.badge {
    color: red;
    padding-left: 21%;
}

.spambadge {
    padding-left: 10%;
}

.trashbadge {
    padding-left: 24%;
}

#inbox-section {
    padding-left: 18%;
    padding-top: 5%;
}

/*override the color to my favorite crappy brown looking one*/
.custom-active-state {
    background: #312A25;
}